movie_catalog {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

document_information {
  font-size: 14px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
proj_authors {
  display: flex;
  flex-direction: column;
}

entire {
  display: none;
}

movies,
companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

companies::before,
movies::before {
  margin-top: 50px;
  content: "Movies";
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
companies::before {
  content: "Companies";
}

movie,
company {
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 310px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
}

company name,
movie title {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}

company > *,
movie > * {
  display: flex;
  margin: 3px 0;
}
company > *::before,
movie > *::before,
movie country::before {
  margin-right: 10px;
  font-weight: bold;
}

movie date::before {
  content: "Release Date:";
}

movie country {
  margin: 3px 0;
  display: flex;
}

movie countries {
  display: flex;
  flex-direction: column;
}

movie country::before {
  content: "Country:";
}

movie budget::before {
  content: "Budget:";
}

movie worldwide_gross::before {
  content: "Gross:";
}

movie worldwide_gross::after {
  content: "$";
}

movie budget::after {
  content: "$";
}

movie runtime::before {
  content: "Runtime:";
}

movie rate::before {
  content: "Rating:";
}

movie category::before {
  content: "Category:";
}

company founded::before {
  content: "Founded:";
}

company chairman::before {
  content: "Chairman:";
}

company president::before {
  content: "President:";
}

company founders {
  display: flex;
  flex-direction: column;
}
company founders::before {
  content: "Founders:";
}

company headerquarter::before {
  content: "Headerquarter:";
}
